{%- comment -%} Placeholder single-product {%- endcomment -%}
<div class="single-product-placeholder">
  <h1>{{ product.title }}</h1>
  {% if product.featured_image %}
    <img
      src="{{ product.featured_image | image_url: width: 800 }}"
      width="{{ product.featured_image.width }}"
      height="{{ product.featured_image.height }}"
      alt="{{ product.featured_image.alt | escape }}">
  {% endif %}
</div>
